@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.flex-container{
    display: flex;
}

.left{
    border:2px;
    border-style: solid;
    border-color: blue;
    /* width: 100px; */
    width: 30%;
    height: auto;
    /* border-radius: 50%; */
    background-color: grey;
}

.right{
    border:2px;
    border-style: dotted;
    border-color: brown;
    width: 70%;
    height: auto;
    background-color: aquamarine;
}

img{
    height: 150px;
    width: 150px;
    margin: 10px 0 0 10px;
    border-radius: 50%;
    border: px;
    border-color: red;
}

h1{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}