.header {
    background-color: #ff80ab;
    color: white;
    padding: 15px;
    text-align: center;
}

.header nav {
    margin: 10px 0;
}

.header nav button {
    background-color: #3f769d;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.header nav button:hover {
    background-color: #d6b42a;
}

.cart-items {
    margin: 20px auto;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cart-item-image {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

.cart-item-details {
    flex: 1;
}

.cart-item h3 {
    margin: 5px 0;
}

.remove-item {
    background-color: #ff80ab;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.remove-item:hover {
    background-color: #e75480;
}

.cart-summary {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
}

#checkout-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

#checkout-btn:hover {
    background-color: #45a049;
}

footer {
    background-color: #f8d7e0;
    text-align: center;
    padding: 10px 0;
}
